{% extends 'food/base.html' %}
{% load static %}

{% block link %}

<!-- Import css file -->
<link rel="stylesheet" href="{% static 'food/css/style.css' %}">

{% endblock %}




{% block content2 %}
<h2 class="text-white">Mes aliments</h2>
{% endblock %}


{% block content %}
  <!-- About Section -->
  <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-around">
        {% for food in data %}
          <a id="image" href="{{ food.link }} ">
              <img src="{{ food.url_picture }}" alt="food image" height="196" width="196">
          </a>
          <p class="text-left"> {{ food.name }}</p>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}