{% extends 'food/base.html' %}
{% load static %}

{% block link %}

<!-- Import css file -->
<link rel="stylesheet" href="{% static 'food/css/style.css' %}">

{% endblock %}




{% block content2 %}
<h2 class="text-white">Mes aliments</h2>
{% endblock %}


{% block content %}
  <!-- About Section -->
  <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-around">
        {% for food in data.id %}
          <p class="text-left"> {{ food.name }}</p>
        {% endfor %}
      </div><br><br><br><br>
      <div class="row justify-content-center">
          <input type="button" value="Voir la fiche d'OpenFoodFacts">
      </div>



    </div>
  </section>

{% endblock %}